<footer class="text-center bg-dark">
	<div class="container text-white py-3 py-lg-4">
		<p class="mb-1 text-white">TASK MANAGER</p>
		<p class="mb-0 text-white">Copyright ©2025, Syifa Maulaya</p>
	</div>
</footer>