{{#> layout title="Add Collections" user=user }}

<div class="container py-2 px-2 my-4 mb-2" style="width: 80%;">
    <h2 class="text-white fw-bold">Add New Collections</h2>
</div>
<div class="container py-2 px-2 my-4" style="width: 80%; height: 70vh;">
    <form action="/" method="post">
        <div class="task pt-3 pb-3">
            <input type="text" name="name" id="name" placeholder="collection name">
            <button type="submit" class="button w-auto">ADD</button>
        </div>
    </form>
</div>

{{/layout}}